[Oo]bj/
[Bb]in/
*.user
*.suo
*.userprefs
*.DS_Store
ClipStudio/ClipStudio/bin/
ClipStudio/ClipStudio/obj/
ClipStudio/ClipStudio/Binaries/
ClipStudio/ClipStudio/Models/*.bin
ClipStudio/ClipStudio/Models/*.caffemodel
ClipStudio/ClipStudio/Models/*.prototxt
